/* ==== ESTILOS PARA VERSIÓN ESCRITORIO (DESKTOP FIRST) ==== */
body{
    background-color: white;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Inter', sans-serif;   font-style: italic; */
}
/* ---- Estilos para NAVBAR ---- */
.navbar{
    font-weight: 400;
    font-size: 15px;
    display: flex;
    padding: 40px;
}
/* Estilos para Navbar_menu */
.nav-menu{
    list-style: none;
    display: flex;
    flex: 1%;
    justify-content: space-around;
    margin-left: 50%;

}
.nav-menu a{
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    padding: 0px;
}
/* Estilos para el botón de menú */
.btnMenu{
    display: none;
}
/* Diseño para navbar hoover */
.nav-menu a:hover{
    color: hsl(5, 85%, 63%);
}
/* .title_W{
    font-size: 50px;
    font-family: 'Inter', sans-serif;
} */
/* ------------ ESTILOS SECTION ------------ */
.news{
    display: grid;
    grid-template-columns: 2.5fr 0.9fr;
    gap:20px;
    
}
/* ======= Artículo principal ======= */
.newArticle {
    display: flex;
    flex-direction: column;
}
.imgNews {
    width: 100%;
    height: auto;
}
.titleNew{
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    font-size: 58px;
    
}
.btnReadMore{
    align-self: start;
    font-weight: 700;
    background-color: hsl(5, 85%, 63%);
    color: hsl(240, 100%, 5%);
    border: none;
    margin-top: 30px;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}
.btnReadMore:hover{
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
}
.newArticle p{
    font-weight: 400;
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    line-height: 1.6;
    margin-top: 30px;
    padding-right: 35px;
    text-align: justify;

}
.newContainerInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: start;

}
/* ------------ Estilos para la parte de asideNews ------------ */
.asideNews{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 100px;
    align-self: start;
    background-color: hsl(240, 100%, 5%);
}
.asideNewsItem_a{
    text-decoration: none;
}
.asideNewsItem{
    padding: 50px 20px 80px 20px;
    border-bottom: 1px solid hsl(236, 13%, 42%);
    cursor: pointer;
}

.asideNewsItem h2{
    font-weight: 800;
    font-size: 32px;
    color: hsl(35, 77%, 62%);
    margin: 0 0 12px 0;
}
.asideNewsItem h3{
    font-weight: 700;
    font-size: 20px;
    color: hsl(36, 100%, 99%);
    margin: 0 0 10px 0;
}
.asideNewsItem p{
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: hsl(236, 13%, 42%);
    text-align: justify;
    margin: 0;
}
.asideNewsItem_a:hover{
    .asideNewsItem h3{
        color: hsl(35, 77%, 62%);
    }
 
}
/* ------------ Estilos para la parte inferior de articulos destacados------------ */
.recommendedNewsItem_a{
    text-decoration: none;
}

/* ==== ESTILOS PARA VERSIÓN MÓVIL (MOBILE) ==== */
@media (max-width: 768px){
    .navbar{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 15px;
        border: 1px solid red;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    /* Estilos para Navbar_menu */
    .nav-menu{
        /* list-style: none;
        display: flex;
        flex: 1%;
        justify-content: space-around;
        border: 1px solid blue;
        margin-left: 50%; */
        display: none;
        
    }
    .nav-menu a{
        text-decoration: none;
        color: hsl(236, 13%, 42%);
        padding: 0px;
    }
    /* Estilos para el botón de menú */
    .btnMenu{
        display: block;
    }
    /* Estilo para hoover */
    .nav-menu a:hover{
        color: hsl(5, 85%, 63%);
    }

}